<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ORMSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ORMSettings.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value>ORMTest.mssql.somee.com</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ORMTest</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>piotrekb3_SQLLogin_1</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>zy4597s8cj</value>
            </setting>
        </ORMSettings.Properties.Settings>
    </userSettings>
</configuration>